<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegFineViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

    <applicationSettings>
        <RegFineViewer.Properties.Settings>
            <setting name="RecentFile_1" serializeAs="String">
                <value>D:\source\repos\RegFineViewer\bin\Debug\example3.reg</value>
            </setting>
            <setting name="RecentFile_2" serializeAs="String">
                <value>E:\source\repos\RegFineViewer\_example2.reg</value>
            </setting>
            <setting name="RecentFile_3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentHive_1" serializeAs="String">
                <value>[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server\MSRS12.MSSQLSERVER\MSSQLServer]</value>
            </setting>
            <setting name="RecentHive_2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentHive_3" serializeAs="String">
                <value />
            </setting>
        </RegFineViewer.Properties.Settings>
    </applicationSettings>
</configuration>